header {
  width: 100%;
  color: white;
  font-family: "Lowvetica", sans-serif;
  padding: 45px;
  position: fixed;
  display: flex;
  justify-content: space-between;
  z-index: 9999;
}

header a {
  text-decoration: none;
  color: inherit;
}
.nav-iconUser-container {
  display: flex;
}
nav {
  font-size: 23px;
  position: relative;
  opacity: 1;
  transition: opacity 0.3s ease;
}

nav.hidden {
  opacity: 0;
  pointer-events: none;
}

nav li {
  transition: background-color 0.2s ease, color 0.3s ease;
}

nav li:hover {
  color: #0aaa92;
}

nav ul {
  display: flex;
  align-items: center;
  gap: 15px;
  list-style-type: none;
}
.User-icon {
  display: flex;
  justify-content: center;
  align-items: center;
}
.User-icon img {
  width: 30px;
  height: 30px;
}
