.button {
  width: 140px;
  background-color: #0aaa92;
  border: none;
  padding: 20px;
  margin: 5px;
  text-align: center;
  font-family: "Roboto";
  font-size: medium;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.5s;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: "\00bb";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}
.button:hover {
  background-color: #088d79;
}
