@font-face {
  font-family: "Lowvetica";
  src: url("../public/fonts/LowveticaBold.ttf") format("truetype");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.img-background {
  width: 100%;
  height: 100vh;
}
