.div-container-ByMuscle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  background-color: black;
}

.div-container-ByMuscle p {
  color: white;
}
