.all-muscle-exercise-container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #0aaa92;
  font-family: "Roboto", sans-serif;
  background-image: url("../../../public/images/black-texture-backround.jpg");
}

.title-muscle {
  margin-top: 8rem;
  margin-bottom: 2rem;
  font-size: 40px;
  text-align: center;
  font-family: "Brush-King";
}
.exercise-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  flex-wrap: wrap;
  margin-bottom: 2rem;
}

.exercise-container li {
  font-family: "Roboto";
  letter-spacing: 1px;
  /* line-height: 13px; */
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 250px;
  height: max-content;
  list-style-type: none;
  border-radius: 5px;
  transition: transform 0.3s ease-in-out;
  box-shadow: 0 0 5px rgba(10, 170, 146, 0.3);
  background-color: rgba(224, 224, 224, 0.1);
}

.exercise-container li:hover {
  transform: scale(1.05);
  box-shadow: 0 0 45px rgba(10, 170, 146, 0.3);
  background-color: rgba(10, 170, 146, 0.3);
}

.exercise-container li img {
  height: 250px;
  width: 250px;
  object-fit: fill;
  padding: 15px;
  border-radius: 25px;
}

.card-buttons-container {
  display: flex;
  flex-direction: row;
}
